.header{
    text-align: center;
    color: white;
    font-size: 40px; 
    font-weight: 500;
    background-color: rgb(58, 107, 199);
    padding: 10px 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.header1{
    text-align: center;
    background-color: rgb(157, 255, 222);
    border: 10px 10px 40px;
    padding:  5px 5px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

.input[type="text"] {
    width: 150px;
    display: inline-block;
}

body {
    font: normal medium/1.4 sans-serif;

  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td, input {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
    text-transform: uppercase;
  }
  tbody tr:nth-child(odd) {
    background: whitesmoke;
  }

.half-width{
    width: 50%;;
}


.flexible-container{
  display: flex;
}

input:focus{
  background-color: rgb(194, 243, 227);
}
.bgcolor:focus{
background-color: rgb(194, 243, 227);
}

.required-field::before {
  content: "*";
  color: red;
  margin-left:2px
}

.redcolor{
  color: red;
}

#textboxid
{
    width:300px;
}

.basic-info{
  margin-left:15%;
  margin-right: 15%;
}

.address{
  margin-left:15%;
  margin-right: 15%;
}

.similar-in-info{
  margin-left:15%;
  margin-right: 15%;
}

.bgcolor1{
  width: 200px;
}








/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}