.header{
    text-align: center;
    color: white;
    font-size: 40px; 
    font-weight: 500;
    background-color: rgb(58, 107, 199);
    padding: 10px 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.header1{
    text-align: center;
    background-color: aquamarine;
    border: 10px 10px 40px;
    padding:  5px 5px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

.input[type="text"] {
    width: 150px;
    display: inline-block;
}

body {
    font: normal medium/1.4 sans-serif;

  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td, input {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
    text-transform: uppercase;
  }
  tbody tr:nth-child(odd) {
    background: whitesmoke;
  }

.half-width{
    width: 50%;;
}


.flexible-container{
  display: flex;
}

input:focus{
  background-color: rgb(165, 189, 236);
}
.bgcolor:focus{
background-color: rgb(165, 189, 236);
}

.required-field::before {
  content: "*";
  color: red;
  margin-left:2px
}

.redcolor{
  color: red;
}

#textboxid
{
    width:300px;
}

.basic-info{
  margin-left:15%;
  margin-right: 15%;
}